:root {
    
    --color-primary-white: #DDEFF3;
    --color-primary-black: #252525;

    --color-secondary-white: #383A3A;
    --color-secondary-black: #51B3D5;
    --color-error-messages: #ffcccc;
}

button:hover {
    background-color: #93B4BD;
    color: var(--color-primary-black);
}



body, li, button {
    transition: background 0.6s, color 0.6s;
}

.ft-bold {
    font-weight:bold;
}

h1 {
    font-size: 3.5rem;
}

div {
    font-size: 2.5rem;
}

.profile-author-description p {
    filter: brightness(0.95);
}

.body-setting-page h1 {
    margin: 0 auto 0;
}