:root {
    
    --color-primary-white: #DDEFF3;
    --color-primary-black: #252525;

    --color-secondary-white: #383A3A;
    --color-secondary-black: #51B3D5;
    --color-error-messages: #ffcccc;

    --image-profile-default: url(images/default_profile.png);
    --image-profile-author1: url(images/A.png);
    --image-profile-author2: url(images/B.jpg);
    --image-profile-author3: url(images/C.jpg);
    --image-profile-author4: url(images/D.jpg);

    --image-landing-page-default: url(images/landing_page.jpg);
}

button:hover {
    background-color: #93B4BD;
    color: var(--color-primary-black);
}



body, li, button {
    transition: background 0.6s, color 0.6s;
}

.ft-bold {
    font-weight:bold;
}

h1 {
    font-size: 3.5rem;
}

div {
    font-size: 2.5rem;
}

.profile-author-description p, #landing-page-message{
    filter: brightness(0.95);
}

.body-setting-page h1 {
    margin: 0 auto 0;
}