:root {
    
    --color-primary-white: #DDEFF3;
    --color-primary-black: #252525;

    --color-secondary-black: #383A3A;
    --color-secondary-cyan: #51B3D5;
}

.transition {
    transition: background 0.2s, color 0.2s;
}

.ft-bold {
    font-weight:bold;
}