
#button-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 5vh;
    padding: 10px;
    gap: 10px;

    box-sizing: border-box;
    display: flex;
}

#navid {
    display: flex;
    flex-wrap: wrap;
    float: left;
    background-color: transparent;
    padding: 0;
    margin: 0;
    gap: 20px;

    list-style: none;
}

#navid li button {
    padding: 0.35rem 0.8rem;
    font-size: 1.75rem;
    border-radius: 1.35rem;
    min-width: 15rem;
    max-width: 20rem;
}

#body-setting-page div, h1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 135px auto 65px;
    display: flex;
}

#body-setting-page button, #trigger-profile-change, #profile-error-message {
    border-radius: 45px 45px 45px 45px;
    max-width: 70%;
    min-width: 30%;
    max-height: none;

    font-size: 1.65rem;

    margin: 0;
    padding: 0.35rem 0.8rem;
}

#profile-error-message {
    border: none;
    background-color: var(--color-error-messages);
    color: var(--color-primary-black);

    margin-top: 0.5rem;
    margin-left: 2rem;
}

.profile-picture-style {
    background-position: 50% 0;
    background-size: cover;

    border-radius: 45px 45px 45px 45px;
    width: 250px;
    height: 375px;
}

.profile-author-bio {
    border: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 35px;
    margin-bottom: 100px;
    padding-top: 50px;

    display: flex;
}

.profile-author-information {

    align-self: auto;
    width: 70%;
    margin-top: 15px;
    margin-left: 0;
    display: block;
}

.profile-author-name {
    font-style: italic;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
}

.profile-author-description {
    font-style: normal;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.65rem;

}