


body.default-theme {
    background-color: var(--color-primary-white);
    color: var(--color-primary-black);
}

body.dark-theme {
    background-color: var(--color-primary-black);
    color: var(--color-primary-white);
}

#button-list.default-theme {
    background-color: var(--color-secondary-white);
    color: var(--color-primary-white);
}

#button-list.dark-theme {
    background-color: var(--color-secondary-black);
    color: var(--color-primary-white);
}